@CHARSET "UTF-8";

/*
  Preloader
*/
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20000;
    text-align: center;
    background-color: #fff;
}

#mask {
    position: relative;
    height: 30px;
    width: 50px;
    margin: 0 auto;
}

#mask span {
    display: block;
    bottom: 0px;
    left: 0;
    width: 1px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    -webkit-animation: preloader 1.5s infinite ease-in-out;
    animation: preloader 1.5s infinite ease-in-out;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

#mask span:nth-child(2) {
    left: 11px;
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

#mask span:nth-child(3) {
    left: 22px;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

#mask span:nth-child(4) {
    left: 33px;
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

#mask span:nth-child(5) {
    left: 44px;
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}

.centrize {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    position: relative;
}

.v-center {
    display: table-cell;
    vertical-align: middle;
}

@-webkit-keyframes preloader {
    0% {
        height: 30px;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        background-color: #fff;
    }
    25% {
        height: 60px;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        background-color: #EF2D56;
    }
    50% {
        height: 30px;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        background-color: #fff;
    }
    100% {
        height: 30px;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        background-color: #fff;
    }
}

@keyframes preloader {
    0% {
        height: 30px;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        background-color: #fff;
    }
    25% {
        height: 60px;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        background-color: #EF2D56;
    }
    50% {
        height: 30px;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        background-color: #fff;
    }
    100% {
        height: 30px;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        background-color: #fff;
    }
}